.radial-background{
	background-color: #0059b3;
	background-image: radial-gradient(circle at top, #0059b3, #00264d);
	background-repeat: no-repeat;
	background-attachment: fixed;	
}

.main-title-container{
	width: 100%;
	text-align: center;
	text-shadow: 0.6em 0.6em #001a33;
	margin-top: 6em;
}
.main-title{
	margin: auto;
	font-size: 1000%;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	color: white;
}
.main-subtitle{
	margin: auto;
	font-size: 300%;
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	letter-spacing: 0.4em;
	text-shadow: 0.1em 0.1em #001a33;
	color: white;
}
.main-title-container i{
	margin: 0.5em auto 0.5em auto;
	font-size: 1000%;
	color: white;
}

.get-started{
	width: 20%;
	margin: 2.5em auto 0 auto;
	background-color: transparent;
	color: white;
	border: 1px solid white;
	border-radius: 20px;
	padding: 1em;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: 300%;
	text-align: center;
}
.lg-btn{
	text-decoration: none;
	text-shadow: 0.3em 0.3em #001a33;
}

.menu-icon{
	float: left;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	margin: 1em 0 0 1em;
	color: white;
	font-size: 300%;
}

@media only screen and (max-width: 1400px){
	.get-started{ width: 80%; }
}